[Unit]
Description=TimerDisplay
After=multi-user.target

[Service]
Type=idle
ExecStart=sudo /home/pi/timerdisplay/application/timerdisplay.py --brightness 90 --loudness 95

[Install]
WantedBy=multi-user.target
